:root
  --color-button-item: #FFD700
  user-select: none
  
  
  
  
html
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: #ffffff
  font-family: sans-serif
  text-decoration: none

*
  padding: 0
  margin: 0
  box-sizing: border-box
  text-decoration: none




  
